{
  "ignoreFiles": ["**/*.{js,jsx,ts,tsx}"],
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "unit-allowed-list": ["px", "rem", "%", "vw", "vh", "ms", "s", "fr", "deg"],
    "selector-class-pattern": null
  }
}
