.divider {
  margin: 6rem 0;
  border-top: 0.1rem solid;
  border-image: linear-gradient(
      90deg,
      rgba(128 71 15 / 0.1) 0%,
      rgba(128 71 15 / 0.3) 12%,
      rgba(128 71 15 / 0.7) 25%,
      rgba(128 71 15 / 1) 50%,
      rgba(128 71 15 / 0.7) 75%,
      rgba(128 71 15 / 0.3) 88%,
      rgba(128 71 15 / 0.1) 100%
    )
    1;
}

@media (min-width: 768px) {
  .divider {
    margin: 7rem 0;
  }
}
