:root {
  --black: #000;
  --white: #fff;
  --red: #f23a3a;
  --rosy-red-50: #ff538b;
  --rosy-red-25: #ff678b;
  --brow-50: #80470f;
  --brow-25: #c17a76;
  --brow-5: #fff9ef;
  --pink-50: #eb56ad;
  --pink-25: #ff86d1;
  --pink-15: #ff86d1;
  --green-50: #00e676;
  --green-45: #00e676;
  --grey-25: #766e6e;
  --grey-15: #766e6e;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--black);
}

html,
body {
  scroll-behavior: smooth;
}
