.candyMenuContainer {
  display: flex;
  margin: 11.2rem 0;
  justify-content: space-between;
  align-items: center;
}

.pictureFrameModifierContainer {
  display: inline-block;
  width: 50rem;
  height: 53.4rem;
}

.candyMenuInformation {
  max-width: 35rem;
}

.candyMenuTitle {
  font-family: var(--comfortaa-font);
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--brow-50);
}

.candyMenuDescription {
  margin: 1.2rem 0 3rem;
  font-family: var(--poppins-font);
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  color: var(--grey-15);
}

.candyMenuButton {
  width: 19.6rem;
  height: 5.6rem;
  padding: 1.6rem 4.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-family: var(--poppins-font);
  font-size: 1.4rem;
  color: var(--white);
  border-radius: 1.2rem;
  background-color: var(--rosy-red-50);
}

.candyMenuBullet {
  width: 3.2rem;
  height: 3.2rem;
}
