.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 14.4rem;
  padding: 1.6rem;
  background-color: var(--white);
  border-radius: 1.2rem;
  box-shadow: 0 0 1rem 0.1rem rgb(0 0 0 / 0.1);
}

.informationWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
}

.flavorName,
.price {
  font-family: var(--poppins-font);
  color: var(--black);
  font-size: 1.6rem;
}

.flavorName {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
}

.thumbnailWrapper {
  width: 50%;
  height: 100%;
  border-radius: 0.8rem;
}

@media (min-width: 820px) {
  .container {
    height: 18.4rem;
    gap: 1rem;
  }

  .flavorName,
  .price {
    font-size: 1.8rem;
  }
}
