.missingUnitImageWraper {
  width: 100%;
  height: 100%;
  background-color: #f4f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: inherit;
}

.missingUnitImageIcon {
  font-size: 2.4rem;
  color: var(--gray-40);
}

@media (min-width: 768px) {
  .missingUnitImageWraper {
    width: 20rem;
    height: 10rem;
  }
}
