.heroHomePageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.4rem;
  margin: 3.4rem 0 6rem;
}

.heroHomePageContent {
  margin: 1.4rem 0 2.6rem;
  width: 84%;
}

.heroHomePageTitle {
  font-family: var(--comfortaa-font);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.8rem;
  letter-spacing: 0.01rem;
  text-align: center;
  color: var(--brow-50);
}

.heroHomePageDescription {
  font-family: var(--poppins-font);
  font-size: 1.6rem;
  line-height: 2.6rem;
  letter-spacing: 0.01rem;
  text-align: center;
  color: var(--grey-15);
}

.heroHomePageButtonContainer {
  display: flex;
  min-width: 20rem;
  height: 5.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  background-color: var(--rosy-red-50);
}

.heroHomePageButton {
  font-family: var(--poppins-font);
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  color: var(--white);
}

.heroHomePageBullet {
  width: 3.4rem;
  height: 3.4rem;
}
